
<div class="background">
    <div class="login-container">
      <div class="right">
       
        <img src="https://images.pexels.com/photos/1126728/pexels-photo-1126728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="bg">
        <div class="center">
          <h1>Bienvenue ! </h1>
          <p>
            Découvrez les meilleurs restaurant du coin sur ce site.
          </p>
          

        </div>
      </div>
      <div class="form-container">
        <h1>Connectez vous !</h1>
        <h5>Connexion par e-mail</h5>
        <app-login-form></app-login-form>
        <span>Pas encore de compte?</span>
        <a routerLink="/register">Inscrivez vous !</a>
      </div>

    </div>
  </div>