

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>
        Register
    </h1>
    <mat-form-field class="form-control">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" required />
        <mat-error *ngIf="email?.hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
            Email isn't valid. Please enter a valid email.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="password?.hasError('required')">
            Password is required
        </mat-error>
        <mat-error *ngIf="password?.hasError('minLength')">
            Password must contain at least 6 characters.
        </mat-error>
    </mat-form-field>


    <mat-form-field class="form-control">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" required />
        <mat-error *ngIf="firstName?.hasError('required')">
            First Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" required />
        <mat-error *ngIf="lastName?.hasError('required')">
            Last Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="pseudo" type="text" required />
        <mat-error *ngIf="pseudo?.hasError('required')">
            Pseudo is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Accout Type</mat-label>
        <input matInput formControlName="accountType" type="number" required />
        <mat-error *ngIf="accountType?.hasError('required')">
            Account Type is required
        </mat-error>
    </mat-form-field>

    <div class="form-footer">
        <button [disabled]="form.invalid" mat-raised-button type="submit">
            Submit
        </button>
    </div>
</form>