button {
  background-color: #5eccd6;
  border-radius: 20px;
  color: #fff;
  padding: 0 50px;
}
h1{
  color:#5eccd6
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  width: 300px;
}

mat-form-field {
  width: 100%;
  background-color: #c2e3ff;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

mat-label{
  color: black;
}
input{
  color: black;
}