

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>
        Créer un compte
    </h1>
    <mat-form-field class="form-control">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="text" required />
        <mat-error *ngIf="email?.hasError('required')">
            L'e-mail est requis.
        </mat-error>
        <mat-error *ngIf="email?.hasError('email')">
            L'e-mail n'est pas valide, veuillez entrer un e-mail valide.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="password?.hasError('required')">
           Le mot de passe est requis.
        </mat-error>
        <mat-error *ngIf="password?.hasError('minLength')">
            Le mot de passe doit contenir au moins 6 caractères.
        </mat-error>
    </mat-form-field>


    <mat-form-field class="form-control">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstName" type="text" required />
        <mat-error *ngIf="firstName?.hasError('required')">
            Le prénom est requis.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastName" type="text" required />
        <mat-error *ngIf="lastName?.hasError('required')">
          Le nom est requis.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="pseudo" type="text" required />
        <mat-error *ngIf="pseudo?.hasError('required')">
          Le pseudo est requis.
        </mat-error>
    </mat-form-field>
    <div class="radioGroup">
        <label > Êtes-vous restaurateur?</label>
        <div>
            <label for="oui">Oui</label>
            <input type="radio" value="2" formControlName="accountType" id="oui" [(ngModel)]="answer" >
            <label for="non">Non</label>
            <input type="radio" value="1" formControlName="accountType" id="non" [(ngModel)]="answer">

        </div>

    </div>


    <div class="form-footer">
        <button [disabled]="form.invalid" mat-raised-button type="submit">
            Submit
        </button>
    </div>
</form>
