<app-top-bar></app-top-bar>
<br>
<div class="content" role="main">

  <div class="form-search">
    <label for="search-text">Taper un élément à chercher: </label>
    <input type="text" (keyup)="onKey($event)" class="form-control" id="search-text" aria-describedby="search-text"
           [(ngModel)]="searchText" placeholder="Mot-clé..."
           autofocus>
    <p>Résultat de la recherche: {{restaurantsList.length}} 🍽 </p>
  </div>



  <div id="list-group-item" *ngFor="let res of restaurantsList">
    <app-restauranttemplate  [userIdHere]="userconnected" [userId]="userid" [res]="res" [home]="false" [del]="false"></app-restauranttemplate>
  </div>

  <p *ngIf="restaurantsList.length == 0" >Aucun restaurant n'a été trouvé...</p>

</div>
