<app-top-bar></app-top-bar>
<br>
<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Rechercher: </label>
      <input type="text" (keyup)="onKey($event)" class="form-control" id="search-text" aria-describedby="search-text"
             [(ngModel)]="searchText" placeholder="Mot-clé..."
             autofocus>
    </div>

    <div class="list-group-item" *ngFor="let res of restaurantsList">
      <app-restauranttemplate  [res]="res"></app-restauranttemplate>
    </div>

    <p *ngIf="restaurantsList.length == 0" >Aucun restaurant n'a été trouvé...</p>

  </div>
</div>
