<app-top-bar></app-top-bar>

<p>search works!</p>

<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Rechercher:</label>
      <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
             [(ngModel)]="searchText" placeholder="Mot-clé..."
             autofocus>
    </div>
    <ul class="list-group list-group-flush">
      <!-- results of ngFor is passed to appFilter with argument searchText -->
      <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
        {{c}}
      </li>
    </ul>
  </div>
</div>
