<div class ="header">

    <div class ="left">
        <div id="logo" >
            <a routerLink="/home">
                <strong>TT</strong>R
            </a>

            <span id="subText">Trouve Ton Resto</span>
        </div>
        <input type="text" placeholder="Rechercher" id="searchBar">
    </div>


    <div class ="right">

        <a routerLink="/dashboard">Mes restaurants</a>
        <a routerLink="/account">Mon compte</a>
        <button>
            Se deconnecter
        </button>
    </div>




</div>
