<div class ="header">

    <div class ="left">
        <div id="logo" >
            <a routerLink="/home">
                <strong>TT</strong>R
            </a>

            <span id="subText">Trouve Ton Resto</span>
        </div>
    </div>

    <div class ="right">

        <a  routerLink="/search" id="searchButton">Rechercher 🔍</a>
        <a *ngIf="this.user!=null && this.userData.accountType==2" routerLink="/dashboard">Mes restaurants</a>
        <a *ngIf="this.user!=null" routerLink="/account">Mon compte</a>
        <button *ngIf="this.user!=null" (click)="logOut()">
            Se deconnecter
        </button>
        <a *ngIf="this.user==null" routerLink="/">Se connecter</a>
        

    </div>

</div>
