

<app-top-bar></app-top-bar>

<div class="noPostContainer" *ngIf="restaurants!=undefined && restaurants.length==0">

    <h1 id="noPost">
      Vous n'avez aucun restaurant en ligne sur notre plateforme
    </h1>

  <button (click)='openDialog()' id="addPost">
    Ajouter un restaurant
  </button>
</div>

<div *ngIf="restaurants!=undefined && restaurants.length!=0" class="postContainer"> 
  <button (click)='openDialog()' id="addPost">
    Nouveau restaurant
  </button>

  <app-restauranttemplate *ngFor = "let res of restaurants" [res]="res" [del]="true"></app-restauranttemplate>
  
  

  
</div>

