@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Nunito;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 5%;
    background-color: #FFAAA7;
    color: white;
    border-radius: 10px;
    letter-spacing: 2px;
    width: fit-content;
}

h4 {
    color: white;
    font-style: italic;
}

img {
    border-radius: 15px;
    transform: scale(0.8);

}

span {
    width: 85%;
    height: fit-content;
    overflow-wrap: break-word;
    font-size: 25px;
}
