button {
    background-color: #5eccd6;
    border-radius: 20px;
    color: #fff;
    padding: 0 50px;
  }

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
    

  /* 8 { grid-area: 4 / 2 / 5 / 3; } */


  
  mat-form-field {
    width:75%;
    background-color: #c2e3ff;
    border-radius: 10px;
    padding: 2px;
   
  }
  
  mat-label{
    color: black;
  }
  input{
    color: black;
  }
