#card{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    font-family: 'Nunito';
    padding: 50px;
    background-color: #091540;
    color: white;
  }
  mat-card-title{
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bold;
  }
  mat-card-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


#restPic{
    transform: scale(0.5);
}