


<mat-card id ="card" *ngIf="home==false">
  <mat-card-title>
    {{res.data()["name"]}}
    {{res.data()["name"]}}
    <button *ngIf ="userIdHere==true" (click)="like()" id="likeBut">
      <img src="{{likeUrl}}">
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    {{res.data()["address"] + ", "  +  res.data()["city"] + ", "+  res.data()["zip"] + ", " + res.data()["state"]}}
  </mat-card-subtitle>

  <img mat-card-image src = "{{res.data()['picLink']}}">
  <mat-card-content>
    {{res.data()["description"]}}
  </mat-card-content>

  <mat-card-actions>
    <span>
      {{res.data()["phone"]}}
    </span>
  </mat-card-actions>

  <button *ngIf ="del==true" (click)="delete(res.id)" id="delBut">
    Supprimer
  </button>
</mat-card>


<div class="container" *ngIf="home==true">
  <h1 id="restName">
    {{res.data()['name']}}
  </h1>
  <div class="imgContainer">
    <img id="homePic" src="{{res.data()['picLink']}} " >
    <div class="middle">
      <div class="text"><a [routerLink]="['/rest',res.data()['name']]">Voir le restaurant</a> </div>
    </div>

  </div>







</div>



