#card{
    width: 500px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    font-family: 'Nunito';
    padding: 50px;
    background-color: #091540;
    color: white;
  }
  mat-card-title{
    text-transform: capitalize;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: bold;
  }
  mat-card-subtitle{
   
    color: grey;
  }
  mat-card-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


#restPic{
    transform: scale(0.5);
}


#delBut{
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  color: white;
  background-color: red;
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  align-self: center;
}