<app-top-bar></app-top-bar>



<h3>
    Découvrez les meilleurs restaurants ! 
</h3>




<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="templ">
            <app-restauranttemplate  [res]="restaurants[0]"></app-restauranttemplate>
        </div>
        </div>
        <div class="carousel-item" *ngFor="let res of restaurants">
            
            <div class="templ">
                <app-restauranttemplate  [res]="res"></app-restauranttemplate>
            </div>
            
        </div>
    </div>

    </div>
    <button id ="skipBtnLeft" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span id="arr" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button id ="skipBtnRight" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span id="arr" class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
